<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<label>Банки</label>
<p><a th:href="@{/addBank}">Добавить банк.</a></p>
<p><a th:href="@{/bank}">Посмотреть все банки.</a></p>
<label>Должности</label>
<p><a th:href="@{/addPost}">Добавить должность.</a></p>
<p><a th:href="@{/post}">Посмотреть все должности.</a></p>
<label>Сотрудники</label>
<p><a th:href="@{/addEmployee}">Добавить сотрудника.</a></p>
<p><a th:href="@{/employee}">Посмотреть список сотрудников.</a></p>
</body>
</html>